* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-primary: #D9534F;        
    --color-primary-focus: #F0AD4E;  
    /* --color-primary-negative:  #D9534F; */
    
    --grey-4: #2a2a2a;              
    --grey-3: #2D2D2D;              
    --grey-2: #3C4043;              
    --grey-1: #B0B3B8;              
    --grey-0: #E6E9ED;              
    --white: #FFFFFF;               
}

body {
    background-color: var(--grey-4);
    color: var(--white);
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1440px;
    padding: 0 12px;
    margin: 0 auto;
}